body { line-height: 300%; color: $nickel; }
.bg-black{ background-color: $eerieblack}
.bg-gray1{ background: $platinum;}
.red{ color:$fuzzywuzzy; }
.black{ color: $eerieblack}
.autor-info{ line-height:150%;}