/* COLORES*/
$white:#fff;
$platinum:#e6e7e7;
$lightgray:#d1d1d1;

$fuzzywuzzy:#e56353;
$ruddypink:#d76c69;
$spanishpink:#ecbcba;

$eerieblack:#121619;
$raisinblack:#222323;
$nickel:#6c6e70;

/* tipografias*/
$playfair: 'Playfair Display', sans-serif;
$roboto: 'Roboto', sans-serif; ;

$small: 600px;
$rounded: 30px;